<footer id="footer">
    <div id="ContactUs" class="inner">
        <h2 class="major">联系我们</h2>
        <p>从生活中追寻乐趣，从平凡事物中挖掘灵感。 <strong>Giorgio12设计工作室</strong>的设计师不但拥有优秀的设计技能，更具备<br>良好的沟通能力，总能懂你想要，应你所求。 马上联系我们，解决你的设计需求！
        </p>
        <form method="post" action="#">
            <div class="field">
                <label for="name">姓名</label>
                <input type="text" name="name" id="name" />
            </div>
            <div class="field">
                <label for="email">邮箱</label>
                <input type="email" name="email" id="email" />
            </div>
            <div class="field">
                <label for="message">联系内容</label>
                <textarea name="message" id="message" rows="4"></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="发送" /></li>
            </ul>
        </form>
        <ul class="contact">
            <li class="fa-home">
                中国，福建省<br /> 福建师范大学(旗山校区)学生公寓桃苑
                <br> 360000
            </li>

            <li class="fa fa-phone">181********</li>
            <li class="fa-envelope">giorgio12@qq.com</li>
            <li class="fa fa-weibo fa-1x"><a href="http://weibo.com/giorgio12" target="blank">Approaching_Elysium</a></li><br>
            <li class="fa fa-comments fa-1x"> Unknown</li>
            <li class="fa-instagram">instagram.com/Giorgio12</li>

        </ul>

        <ul class="copyright">
            <li>2016-2017. &copy;版权所有.</li>
            <li>Design: GIORGIO12 Design Firm</li>
        </ul>
    </div>
</footer>