<script src="assets/js/main.js">
</script>
<!-- 使用nav标签来设置右导航栏 -->
<nav id="menu">
    <div class="inner">
        <h2>导航栏</h2>
        <ul class="links">
            <li><a href="#DesignBusiness">设计业务</a></li>
            <li><a href="#TeamIntroduction">设计团队</a></li>
            <li><a href="#essay">文章</a></li>
            <li><a href="#ContactUs">联系我们</a></li>
            <!--<li><a ng-click="#admin">后台管理</a></li>-->
        </ul>
        <a href="#menu" class="close">Close</a>
    </div>
</nav>
<header id="header" class="alt">
    <script src="assets/js/main.js"></script>
    <h1>
        <a href="#"><img class="logo" src="images/UI/logo.png" alt=""></a>
    </h1>
    <!-- Nav Starts -->
    <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right scroll for-pc">
            <!--<li class="active"><a href="#banner">首页</a></li>-->
            <li><a href="#DesignBusiness">设计业务</a></li>
            <li><a href="#TeamIntroduction">设计团队</a></li>
            <li><a href="#essay">文章</a></li>
            <li><a href="#ContactUs">联系我们</a></li>
        </ul>
        <nav class="for-mobile">
            <a href="#menu">Menu</a>
        </nav>
    </div>
    <!-- #Nav Ends -->
</header>