<!-- 使用nav标签来设置右导航栏 -->
<nav id="menu">
    <div class="inner">
        <h2>导航栏</h2>
        <ul class="links">
            <li><a href="index.html">首页</a></li>
            <li><a href="#DesignBusiness">设计业务</a></li>
            <li><a href="#TeamIntroduction">设计团队</a></li>
            <li><a href="#ContactUs">联系我们</a></li>
        </ul>
        <a href="#menu" class="close">Close</a>
    </div>
</nav>
<div id="page-wrapper">
    <!-- 导航栏 -->
    <div data-ng-include="'app/layout/layout-header.tpl.html'"></div>
    <div data-ui-view="content" id="content"></div>
</div>