<!-- 后台管理 -->
<section id="banner">
    <div class="inner">
        <h2><strong>后台管理</strong></h2>
    </div>
</section>
<!-- 管理-->
<section id="wrapper">
    <!-- 文章管理 -->
    <section id="one" class="wrapper style2" ng-controller="EssayManage as vm">
        <div id="TeamIntroduction" class="inner">
            <div class="content">
                <h2 class="major">文章管理</h2>
                <div class="content-page-body">
                    <div class="content-page-body">
                        <nav class="navbar navbar-toolbar navbar-default">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a class="btn-clear" ng-click="vm.essayView()"><i class="fa fa-plus"></i> 添加</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right  padding-0">
                                <li><input type="text" class="input-clear" ng-model="titleFilter" placeholder="搜索"></li>
                            </ul>
                        </nav>
                        <div id="essaylist">
                            <div ng-repeat="essay in vm.essaysList|filter:titleFilter">
                                <div id="essay" ng-click="vm.essayView(essay)">
                                    <h3 id="title">{{essay.title}}</h3>
                                    <p id="detail"><span id="datetime">{{essay.datetime}}</span>　　<span id="viewCount">{{essay.id}}</span>人浏览 </p>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered" ng-if="false">
                            <tr ng-repeat="essay in vm.essaysList|filter:titleFilter">
                                <td title="'Name'">
                                    <span ng-if="!essay.$edit">{{essay.title}}</span>
                                    <div ng-if="essay.$edit"><input class="form-control" type="text" ng-model="essay.Name"></div>
                                </td>
                                <td title="'Id'">
                                    <span ng-if="!essay.$edit">{{essay.author}}</span>
                                    <div ng-if="essay.$edit"><input class="form-control" type="text" ng-model="essay.author"></div>
                                </td>
                                <td title="'Grade'">
                                    <span ng-if="!essay.$edit">{{essay.description}}</span>
                                    <div ng-if="essay.$edit"><input class="form-control" type="text" ng-model="essay.Grade"></div>
                                </td>
                                <td title="'Actions'" width="200">
                                    <a href="" ng-if="!essay.$edit" class="btn btn-default btn-xs" ng-click="essay.$edit=true">Edit</a>
                                    <a href="" ng-if="essay.$edit" class="btn btn-default btn-xs" ng-click="essay.$edit=false;saveEssay(essay)">Save</a>
                                    <a ng-click="deleteessay(essay)" ng-if="essay.$edit" class="btn btn-default btn-xs">Delete</a>
                                    <!-- <a href="" ng-click="addessay()" ng-if="essay.$edit" class="btn btn-default btn-xs">Add</a> -->
                                </td>
                            </tr>
                        </table>
                        <div class="Pagination pull-right">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <input type="text" ng-model="newName" placeholder="input Name" required/>
                            <input type="text" ng-model="newId" placeholder="input Id" required/>
                            <input type="text" ng-model="newGrade" placeholder="input Grade" required/>
                            <input type="button" ng-click="addessay(essay)" value="添加" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- copyright -->
<section id="footer">
    <div id="copyright" class="inner">
        <ul class="copyright">
            <li>2016-2017. &copy;版权所有.</li>
            <li>Design: GIORGIO12 Design Firm</li>
        </ul>
    </div>
</section>