<div ng-controller="HomeCtrl as vm">
    <!-- 首页展示 -->
    <section id="banner" style="padding: 0;margin: 0px">
        <div class="inner" ng-if="false">
            <h2><strong>欢迎来到Giorgio12</strong></h2>
            <p><i class="fa fa-quote-left fa-1x fa-pull-left fa-border" aria-hidden="true"></i>从生活中追寻乐趣，从平凡事物中挖掘灵感。懂你所想，应你所求。<i class="fa fa-quote-right fa-1x fa-border" aria-hidden="true"></i><br> 这里是 <strong>Giorgio12</strong>，和我们一起探寻设计的美妙与乐趣！</p>
        </div>
    </section>
    <section id="wrapper">
        <!-- 设计业务 -->
        <section id="zero" class=" alt">
            <div id="DesignBusiness" class="inner" style="padding-top: 60px">
                <div ng-if="false">
                    <h2 class="major">设计业务介绍</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Giorgio12设计工作室</strong>自创立以来通过不断地进深设计技能和经验，紧跟世界设计行业潮流，积极进取，与国内外著名企业进行设计创作，并且获得众多高满意认可。 相信 <strong>Giorgio12设计工作室</strong>能够以高效且高满意度的设计技能为你解决设计需求 </p>
                </div>
                <div id="works" class=" clearfix grid" style="padding: 0">
                    <figure ng-repeat="pid in vm.pics" class="effect-oscar wowload fadeIn animated" style="visibility: visible; animation-name: fadeIn;"> <img ng-src="images/business/{{pid}}.png" alt="img01">
                        <figcaption>
                            <h2>书籍设计</h2>
                            <p>让阅读时代变得更美好<br> <a ng-click="vm.picView(pid)" title=" 1 " data-gallery=" ">了解更多</a></p>
                        </figcaption>
                    </figure>

                    <figure class="effect-oscar wowload fadeIn animated " style="visibility: visible; animation-name: fadeIn; "> <img src="images/business/1.png " alt="img01 ">
                        <figcaption>
                            <h2>书籍设计</h2>
                            <p>让阅读时代变得更美好<br> <a href="images/business/1.png " title="1 " data-gallery=" ">了解更多</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar wowload fadeInUp animated " style="visibility: visible; animation-name: fadeInUp; "> <img src="images/business/1.png " alt="img01 ">
                        <figcaption>
                            <h2>商标设计</h2>
                            <p>帮助企业获得更好的形象认知<br> <a ng-click="vm.picView(1) " title="1 " data-gallery=" ">了解更多</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar wowload fadeInUp animated " style="visibility: visible; animation-name: fadeInUp; "> <img src="images/business/3.png " alt="img01 ">
                        <figcaption>
                            <h2>字体设计</h2>
                            <p>一套优秀的字体能帮您获得很好的阅读体验<br> <a href="images/business/Font-Design.png " title="1 " data-gallery=" ">了解更多</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar wowload fadeInUp animated " style="visibility: visible; animation-name: fadeInUp; "> <img src="images/business/4.png " alt="img01 ">
                        <figcaption>
                            <h2>平面设计</h2>
                            <p>让信息资讯变得更易捕获人心<br> <a href="images/business/Graphic-Design.png " title="1 " data-gallery=" ">了解更多</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar wowload fadeInUp animated " style="visibility: visible; animation-name: fadeInUp; "> <img src="images/business/5.png " alt="img01 ">
                        <figcaption>
                            <h2>工业设计</h2>
                            <p>优秀的产品也需要精致的包装设计<br> <a href="images/business/Package-Design.png " title="1 " data-gallery=" ">了解更多</a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-oscar wowload fadeInUp animated " style="visibility: visible; animation-name: fadeInUp; "> <img src="images/business/6.png " alt="img01 ">
                        <figcaption>
                            <h2>UI设计</h2>
                            <p>您的用户界面也能变得与众不同且扣人心弦<br> <a href="images/business/UI-Design.png " title="1 " data-gallery=" ">了解更多</a></p>
                        </figcaption>
                    </figure>
                </div>
                <section class="features "> </section>
                <ul class="actions " ng-if="false ">
                    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                    <li><a href=" " class="button ">了解更多</a></li>
                </ul>
            </div>
        </section>
        <!-- 团队成员个人展示一 -->
        <section id="one " class="wrapper spotlight style1 ">
            <div id="TeamIntroduction " class="inner ">
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <a href="# " class="image "><img src="images/pic01.jpg " alt=" " /></a>
                <div class="content ">
                    <h2 class="major ">Giorgio Sindes（首席设计师，Giorgio12创始人）</h2>
                    <p>中国福建省著名高校<a href="https://www.fjnu.edu.cn/ " target="blank "><strong>福建师范大学</strong></a>信息技术学院学生，拥有多年的设计行业经验， 为国内外著名企业如XXX、XXXX等执行设计创作 </p> <a href=" " class="special ">了解更多</a> </div>
            </div>
        </section>
        <!-- 团队成员个人展示二 -->
        <section id="two " class="wrapper alt spotlight style2 ">
            <div class="inner ">
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <a href="# " class="image "><img src="images/pic02.jpg " alt=" " /></a>
                <div class="content ">
                    <h2 class="major ">Chen Lin（首席设计师，Giorgio12联合创始人）</h2>
                    <p>欧洲著名设计院校<a href="http://www.ghpa.ru/ " target="blank "><strong>俄罗斯圣彼得堡国立工业艺术大学</a></strong>艺术学硕士<br>在学期间曾经获得多项国内设计大赛奖项，拥有多年的设计行业经验</p> <a href=" " class="special ">了解更多</a> </div>
            </div>
        </section>
        <!-- 团队成员个人展示三 -->
        <section id="three " class="wrapper spotlight style1 ">
            <div class="inner ">
                <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
                <a href="# " class="image "><img src="images/pic03.jpg " alt=" " /></a>
                <div class="content ">
                    <h2 class="major ">Nancy Chou（设计组长）</h2>
                    <p>中国著名艺术院校<a href="http://www.cucn.edu.cn/ " target="blank "><strong>中国传媒大学南广学院</strong></a>传播学硕士<br>在学期间曾经获得多项国内多媒体传播艺术大赛奖项，拥有多年的设计行业经验 </p> <a href=" " class="special ">了解更多</a> </div>
            </div>
        </section>
        <!-- 文章 -->
        <section id="four " class="wrapper alt ">
            <div id="essay " class="inner ">
                <div class=" clearfix grid ">
                    <!--=== Features section Starts扇形文章展开 ===-->
                    <section id="section-feature " class="feature-wrap ">
                        <!--==== Js files ====-->
                        <!--==== Essential files ====-->
                        <script type="text/javascript " src="assets/js/modernizr.js "></script>
                        <!--==== Slider and Card style plugin ====-->
                        <script type="text/javascript " src="assets/js/jquery.baraja.js "></script>
                        <!--==== Scroll and navigation plugins ====-->
                        <script type="text/javascript " src="assets/js/jquery.appear.js "></script>
                        <!--==== Custom Script files ====-->
                        <script type="text/javascript " src="assets/js/custom.js "></script>
                        <div class="container features center ">
                            <div class="row ">
                                <div class="col-lg-12 ">
                                    <!--Features container Starts -->
                                    <ul id="card-ul " class="features-hold baraja-container ">
                                        <!--文章一-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[0]) " class="single-feature "> <img src="{{vm.essaysList[0].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[0].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[0].description}}</p> <a href=" " class="fancy-button button-line btn-col small vertical " ng-click="vm.essayView(vm.essaysList[0]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                        <!--文章二-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[1]) " class="single-feature "> <img src="{{vm.essaysList[1].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[1].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[1].description}}</p> <a href=" " class="fancy-button button-line btn-col small zoom " ng-click="vm.essayView(vm.essaysList[1]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                        <!--文章三-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[2]) " class="single-feature "> <img src="{{vm.essaysList[2].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[2].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[2].description}}</p> <a href=" " class="fancy-button button-line btn-col small zoom " ng-click="vm.essayView(vm.essaysList[2]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                        <!--文章四-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[3]) " class="single-feature "> <img src="{{vm.essaysList[3].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[3].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[3].description}}</p> <a href=" " class="fancy-button button-line btn-col small zoom " ng-click="vm.essayView(vm.essaysList[3]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                        <!--文章五-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[4]) " class="single-feature "> <img src="{{vm.essaysList[4].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[4].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[4].description}}</p> <a href=" " class="fancy-button button-line btn-col small zoom " ng-click="vm.essayView(vm.essaysList[4]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                        <!--文章六-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[5]) " class="single-feature "> <img src="{{vm.essaysList[5].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[5].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[5].description}}</p> <a href=" " class="fancy-button button-line btn-col small zoom " ng-click="vm.essayView(vm.essaysList[5]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                        <!--文章七-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[6]) " class="single-feature "> <img src="{{vm.essaysList[6].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[6].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[6].description}}</p> <a href=" " class="fancy-button button-line btn-col small zoom " ng-click="vm.essayView(vm.essaysList[6]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                        <!--文章八-->
                                        <!-- Single Feature Starts -->
                                        <li ng-click="vm.essayView(vm.essaysList[7]) " class="single-feature "> <img src="{{vm.essaysList[7].imageURL}} " alt=" " class="feature-image " />
                                            <!-- Feature Icon -->
                                            <h4 class="feature-title color-scheme "><strong>{{vm.essaysList[7].title}}</strong></h4>
                                            <p class="feature-text ">{{vm.essaysList[7].description}}</p> <a href=" " class="fancy-button button-line btn-col small zoom " ng-click="vm.essayView(vm.essaysList[7]) ">查看详情</a> </li>
                                        <!-- Single Feature Ends -->
                                    </ul>
                                    <!--Features container Ends -->
                                    <!-- Features Controls Starts -->
                                    <div class="features-control relative "> <button class="control-icon fancy-button button-line no-text btn-col bell " id="feature-prev " title="Previous "><span class="icon "><i class="fa fa-arrow-left
                                    "></i></span></button> <button class="control-icon fancy-button button-line no-text btn-col zoom " id="feature-expand " title="Expand "><span class="icon "><i class="fa fa-expand "></i></span></button> <button class="control-icon fancy-button button-line no-text
                                    btn-col zoom " id="feature-close " title="Collapse "><span class="icon "><i class="fa fa-compress "></i></span></button> <button class="control-icon fancy-button button-line no-text btn-col bell " id="feature-next
                                    " title="Next "><span class="icon "><i class="fa fa-arrow-right "></i></span></button> </div>
                                    <!-- Features Controls Ends -->
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!-- 联系模块 -->
    <section id="footer ">
        <div id="ContactUs " class="inner ">
            <h2 class="major ">联系我们</h2>
            <p>从生活中追寻乐趣，从平凡事物中挖掘灵感。 <strong>Giorgio12设计工作室</strong>的设计师不但拥有优秀的设计技能，更具备<br>良好的沟通能力，总能懂你想要，应你所求。 马上联系我们，解决你的设计需求！ </p>
            <form method="post " action="# ">
                <div class="field "> <label for="name ">姓名</label> <input type="text " name="name " id="name " /> </div>
                <div class="field "> <label for="email ">邮箱</label> <input type="email " name="email " id="email " /> </div>
                <div class="field "> <label for="message ">联系内容</label> <textarea name="message " id="message " rows="4 "></textarea> </div>
                <ul class="actions ">
                    <li><input type="submit " value="发送 " /></li>
                </ul>
            </form>
            <ul class="contact ">
                <li class="fa-home "> 中国，福建省<br /> 福建师范大学(旗山校区)学生公寓桃苑 <br> 360000 </li>
                <li class="fa fa-phone ">181********</li>
                <li class="fa-envelope ">giorgio12@qq.com</li>
                <li class="fa fa-weibo fa-1x "><a href="http://weibo.com/giorgio12 " target="blank ">Approaching_Elysium</a></li><br>
                <li class="fa fa-comments fa-1x "> Unknown</li>
                <li class="fa-instagram ">instagram.com/Giorgio12</li>
            </ul>
            <ul class="copyright ">
                <li>2016-2017. &copy;版权所有.</li>
                <li>Design: GIORGIO12 Design Firm</li>
            </ul>
        </div>
    </section>
</div>