<div class="modal-body">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><p aria-hidden="true">&times;</p></button>
    <form novalidate name="essayModelForm">
        <div id="essay-model">
            <div id="essay">
                <h3 id="title" ng-if="!essay.$edit">{{essay.title}}</h3>
                <span ng-if="essay.$edit">标题：</span>
                <input id="title" ng-if="essay.$edit" class="form-control" type="text" ng-model="essay.title">
                <div id="info-main">
                    <span>作者：</span>
                    <span ng-if="!essay.$edit">{{essay.author}}</span>
                    <input ng-if="essay.$edit" class="form-control" type="text" ng-model="essay.author">
                    <br ng-if="!essay.$edit"><span>简介：</span>
                    <span ng-if="!essay.$edit">{{essay.description}}</span>
                    <input ng-if="essay.$edit" class="form-control" type="text" ng-model="essay.description">
                </div>
                <div id="info">
                    <br ng-if="!essay.$edit">
                    <span id="datetime" ng-if="!essay.$edit">{{essay.datetime}}</span>　　<span id="viewCount" ng-if="!essay.$edit">{{essay.id}}人浏览</span>
                </div>
                <hr>
                <div id="text">
                    <div id="image" class="image"><img ng-src="{{essay.imageURL}}" alt="" class="feature-image" /></div>
                    <span ng-if="!essay.$edit">{{essay.text}}</span>
                    <textarea name="text" id="text" cols="30" rows="10" ng-if="essay.$edit" class="form-control" type="text" ng-model="essay.text"></textarea>
                </div>
            </div>
            <div id="option" class="pull-right" title="Actions">
                <a href="" ng-if="!essay.$edit" class="btn btn-default btn-xs" ng-click="essay.$edit=true">编辑</a>
                <a href="" ng-if="essay.$edit" class="btn btn-default btn-xs" ng-click="essay.$edit=false;vm.saveEssay(essay);essay.id||$close();">保存</a>
                <a ng-click="vm.deleteEssay(essay);$close()" ng-if="essay.$edit&&essay.id" class="btn btn-default btn-xs">删除</a>
            </div>
        </div>
    </form>
</div>